.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading{
  background-color: rgb(134, 134, 210);
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #111827;
  font-size: 30px;
}
.addNotesSection{
  padding: 20px 20px;
}
#plusButton{
  font-size: 30px;
  padding: 5px 15px;
}
button{
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #111827;
  cursor: pointer;
  border: 2px solid grey;
  margin: 5px;
}
button:hover{
  background-color: rgb(249, 236, 236);
  color: #111827;
  transform: scale(1.1);
}
input{
  font-size: 20px;
  color: #111827;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px;
  border: 2px solid grey;
}
.displayTasks{
  padding: 10px 10px;
  display: flex;
  background-color: rgb(134, 134, 210);
  border-radius: 10px;
  margin: 5px;
}
.title{
  background-color: whitesmoke;
  color: #111827;
  border-radius: 10px;
  width: 400px;
  height: 35px;
  font-size: 18px;
  padding: 8px;
  border: 2px solid grey;
}
.content{
  background-color: whitesmoke;
  width: 400px;
  height: 120px;
  font-size: 16px;
  padding: 8px;
  color: #111827;
  border-radius: 10px;
  border: 2px solid grey;
}

